{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}
{% extends "rdnSiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}



<main id="contact" class="container-fluid">
  <h2>ADD</h2>

</main>


{% endblock %}
