{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}
{% extends "rdnSiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}



<main id="contact" class="container-fluid">
  <h2>Contactez nous</h2>
  <div class="row">
    <div class="col-md-8">
      <div class="well well-sm">
        <form action="new_post_post.php" method="post" enctype="multipart/form-data">
          <div class="row">
            <div class="col-md-6">

              <div class="form-group">
                <input name="" type="text" class="form-control" placeholder="Nom" required="required" />
              </div>
              <div class="form-group">
                <input name="" type="text" class="form-control" placeholder="Prénom" required="required" />
              </div>
              <div class="form-group">
                <input name="" type="text" class="form-control" placeholder="Sujet" required="required" />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <textarea name="conseil" class="form-control" rows="9" cols="25" required="required" placeholder="Message"></textarea>
              </div>
            </div>

            <div class="col-md-12">
              <button type="submit" class="btn btn-primary pull-right">Envoyer</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-4">
      <form>
        <legend><span class="glyphicon glyphicon-globe"></span> Une idée recette ?</legend>
        <h5>Comment retrouver votre recette sur RecetteDuDord.com?</h5>
        <p>La MAI veille au respect des engagements souscrits par la France dans le cadre de la convention de La Haye de 1993 sur la protection des enfants et la coopération internationale en matière d’adoption (CLH)..</p>
        <hr>
        <h5>Infos</h5>
        <p>Actuellement, l'AFA travaille avec près de trente pays.<br> La mission de l'AFA est de vous informer et vous accompagner dans votre projet d'adoption</p>
      </form>
    </div>
  </div>
</main>


{% endblock %}
