{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}
{% extends "rdnSiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}


<main style="padding:170px 0" id="recettes">

  <div  class="h2">
    <h2>Aucune recettes trouvées</h2><br>
  </div>
  <p style="width: 100%;text-align:center">
    Ardis le me le une tchotte fois! <b>"{{ post }}"</b> ?
  </p>






</main>





{% endblock %}
