{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}
{% extends "rdnSiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}


<main id="recettes">

  <div class="h2">
    <h2>La liste des recettes</h2>
  </div>


  <!-- 1 -->
  <div class="letter">
      <h3>A</h3>
  </div>

  <!-- 1 -->
  <a class="recette" href="recette.php">
    <article class="lastArticle" style="background-image:url('image/moules-frites.jpg')">
      <h3>Moules Frites</h3>
    </article>
  </a>

  <!-- 1 -->
  <a class="recette" href="recette.php">
    <article class="lastArticle" style="background-image:url('image/potjevleesh.jpg')">
      <h3>Potjevleesh</h3>
    </article>
  </a>



  <!-- 1 -->
  <a class="recette" href="recette.php">
    <article class="lastArticle" style="background-image:url('image/carbonnade.jpg')">
      <h3>Carbonnade</h3>
    </article>
  </a>

  <!-- 1 -->
  <div class="letter" href="#">
    <h3>B</h3>
  </div>


  <!-- 1 -->
  <a class="recette" href="recette.php">
    <article class="lastArticle" style="background-image:url('image/welsh.jpg')">
      <h3>Welsh</h3>
    </article>
  </a>

  <!-- 1 -->
  <div class="letter" href="#">
      <h3>C</h3>
  </div>

  <!-- 1 -->
  <a class="recette" href="recette.php">
    <article class="lastArticle" style="background-image:url('image/moules-frites.jpg')">
      <h3>Moules Frites</h3>
    </article>
  </a>

  <!-- 1 -->
  <a class="recette" href="recette.php">
    <article class="lastArticle" style="background-image:url('image/potjevleesh.jpg')">
      <h3>Potjevleesh</h3>
    </article>
  </a>



  <!-- 1 -->
  <a class="recette" href="recette.php">
    <article class="lastArticle" style="background-image:url('image/carbonnade.jpg')">
      <h3>Carbonnade</h3>
    </article>
  </a>



</main>





{% endblock %}
