{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}
{% extends "rdnSiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
<main class="container-fluid" id="recette">


  <section class="imgIngr">
    <figure class="img" style="background-image:url('image/waterzooi.jpg')">
    </figure>

    <div class="ingr">
      <h3>Waterzooi de poisson</h3><br>
      <h4>La belle histoire du Waterzooi</h4>
      <p>Le waterzooï (waterzooi en néerlandais) est un plat originaire de Gand en Belgique à base de poulet ou de poisson. Ce nom signifie « eau qui bout » en néerlandais.

C'est un plat unique de poulet ou de poisson, accompagné de légumes, servi dans une soupière et des assiettes à soupe, dont le bouillon (avec un jaune d'œuf), ou le fumet, est lié à la crème ou au beurre.

Dans une version plus évoluée, on ajoute, en fin de cuisson, un demi-verre de bière ou de vin blanc demi-sec et fruité si possible.</p>
    </div>
  </section>

  <section class="numbers">
    <div class="time">
        <h5>Temps</h5>
        <span>30min</span>
    </div>

    <div class="note">
      <h5>Note</h5>
      <span>
        <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
      </span>
    </div>

    <div class="personne">
      <h5>Personne</h5>
      <span>6</span>
    </div>

  </section>


  <section class="imgIngr">
    <figure class="img" style="background-image:url('image/waterzooiIngr.jpg')">
    </figure>

    <div class="ingr">
      <h4>Ingrédients</h4>
      <ul>
        <li>Lotte ou Morue</li>
        <li>Poirreaux</li>
        <li>Carottes</li>
        <li>Navets</li>
        <li>Patates</li>
        <li>Oignons</li>
        <li>Ail</li>
        <li>Thym laurier</li>
        <li>Bière</li>
        <li>Vin</li>
        <li>Crème</li>
        <li>Beurre</li>
      </ul>
    </div>
  </section>






  <section class="steps">

    <div class="step">
      <figure class="imgStep" style="background-image:url('image/waterzooi1.jpg')">
      </figure>
      <p> Découper les  poirreaux et les carottes en fine julienne de 8cm. Suer les juliennes au beurre dans une poêle. Assaisonner. Il faut que les carrotes deviennes tendre.</p>
    </div>

    <div class="step">
      <figure class="imgStep" style="background-image:url('image/waterzooi2.jpg')">
      </figure>
      <p> Découpez le poisson en tranches épaisses. Epluchez les oignons et coupez-les en rondelles. Dans une cocotte, faites dorer les tranches de poisson dans le beurre fondu avec les oigons. (en deux fois si la cocotte est petite). Assaisonnez. Rajoutez du un verre de bière et un verre de vin, laissez 3 minutes à couvers après ébulition puis réserver le poisson.  Assaisonnez si besoin. Laissez reduire la sauce. </p>
    </div>

    <div class="step">
      <figure class="imgStep" style="background-image:url('image/waterzooi1.jpg')">
      </figure>
      <p>Dans une assiete creuse, mettre les legumes ( poirreaux carrotes ), ajoutez y des patates et des navets cuit à l'eau couper en morceaux, déposez le poisson au dessus des legumes , versez la sauce (allez y) Servez!</p>
    </div>

    <hr>

  </section>


</main>




{% endblock %}
