{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}
{% extends "rdnSiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}

<main id="login">
  <div>

  </div>

  {% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
    <div class="{{ type }}">
      {{ message|trans({}, 'FOSUserBundle') }}
    </div>
    {% endfor %}
    {% endfor %}
  {% endif %}

  <div class="container-fluid">


    <!-- LOGIN -->

    <!-- Slider main container -->
    <div class="swiper-containerLogin">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">

                {% block fos_user_content %}
                {% endblock fos_user_content %}

            </div>

            <!-- SIGN IN -->

            <div class="swiper-slide">
              <form class="form-horizontal" role="form" method="POST" action="/register">
        <div class="row pt-3">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <!-- <h2>Creer un compte</h2> -->
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <input type="text" name="name" class="form-control" id="name"
                               placeholder="Prénom" required autofocus>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put name validation error messages here -->
                        </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                        <input type="text" name="email" class="form-control" id="email"
                               placeholder="Jacques.C@elysee.com" required autofocus>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put e-mail validation error messages here -->
                        </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="password" name="mdp" class="form-control" id="password"
                               placeholder="Mot de passe" required>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                        </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem">
                            <i class="fa fa-repeat"></i>
                        </div>
                        <input type="password" name="mdpConf" class="form-control"
                               id="password-confirm" placeholder="Confirmation du mot de passe" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i> Creer</button>
            </div>
        </div>
    </form>

            </div>

        </div>


        <!-- If we need navigation buttons -->
        <div class="logIn swiper-button-prev">Connexion</div>
        <div class="logIn swiper-button-next">Creer un compte</div>

    </div>



  </div>
</main>


{% endblock %}
